version: '2.0'
services:
  jenkins:
    image: jenkins/jenkins:alpine
    user: ${UID}:${GID}
    ports: 
    - "8080:8080"
    - "50000:50000"
    volumes: 
    - ./jenkins1:/var/jenkins_home
  